<div class="main-div">
  <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4 text-info">{{ title }}</h1>
        <p class="lead">Your priorities are important - keep them in check!</p>
      </div>
    </div>

  <div class="container">
    <form (submit)="addTodo()">
      <div class="form-group">
        <div class="input-group-prepend">
          <input type="text" class="form-control" placeholder="Add new todo" name="newTodo" [(ngModel)]="newTodo">
          <button type="submit" class="btn btn-outline-info">Add</button>
        </div>
      </div>
    </form>
  </div>

  <div class="all-todos container">
    <div class="card" style="width: 18rem;">
        <div class="card-header">All Todos</div>
        <ol class="list-group list-group-flush">
          <li *ngFor="let todo of todos; let i = index" class="list-group-item">{{ todo }} <i (click)="deleteTodo(i)" class="trash fas fa-trash"></i></li>
        </ol>
      </div>
  </div>
</div>

